@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
* {
    font-family: 'Montserrat';
}
body {
    min-width: fit-content;
}
.container{
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.button{
    margin-top: 20px;
    text-align: center;
}
button{
    width: 80px;
    height:40px;
    border-radius: 10px;
    border:none;
    background-color: orange;
    color: white;
    size: 30px;
}