@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
* {
    font-family: 'Montserrat';
}
body {
    min-width: fit-content;
}
.container{
    width: 75%;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
h2{
    text-align: center;
}
table{
    width: 80%;
    margin: auto;
}
table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
    text-align: left;
}
table.type09 thead th.id{
    width: 15%;
}
table.type09 thead th.title{
    width: 40%;
}
table.type09 thead th.writer{
     width: 15%;
}
table.type09 thead th.write_date{
    width: 20%;
}
table.type09 thead th.view{
    width: 10%;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.type09 td a {
    text-decoration: none;
    color: black;
}
.write{
    text-align: right;
    margin-right: 10%;
    margin-bottom: 5%;

}
.write> a {
    border: 1px solid;
    border-radius: 5px;
    padding: 7.5px;
    text-decoration: none;
}