<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../createPostForm.css">
</head>
<body>
    <div class="container">
        <form action="/posts/new" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <br>
                <input type ="text" id="title" name="title" placeholder="제목">
                <br>
                <label for="writer">작성자</label>
                <br>
                <input type ="text" id="writer" name="writer" placeholder="작성자">
                <br>
                <label for="body">내용</label>
                <br>
                <textarea type ="text" id="body" name="body" placeholder="글 내용"></textarea>
            </div>
            <div class="create">
            <button type="submit">등록</button>
            </div>
        </form>

    </div>
</body>
</html>