<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- navbar 코드 -->
<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 20px" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">스프링 게시판</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled">Disabled</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>