<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="container">
<h2>스프링 게시판</h2>
<div class = "write">
<a href="/posts/new">글작성</a>
</div>
    <table class="type09">
        <thead>
        <tr>
            <th scope="cols" class="id">순번</th>
            <th scope="cols" class="title">제목</th>
            <th scope="cols" class="writer">작성자</th>
            <th scope="cols" class="view">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td ><a th:href = "@{'/posts/'+ ${post.id}}" th:text="${post.title}"></a></td>
            <td th:text="${post.writer}"></td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>