<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:insert="~{fragment/navbar :: navbar}"></nav>
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <img src="../img/public.png" class="card-img-top" alt="..." style="height: 220px">
                    <div class="card-body">
                        <h5 class="card-title">공지 게시판</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">공지 게시판으로 가기</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <img src="../img/free.jpg" class="card-img-top" alt="..." style="height: 220px">
                    <div class="card-body">
                        <h5 class="card-title">자유게시판</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">자유 게시판으로 가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>